{% extends "base.html" %} {% block title %} Sign Up {% endblock %}

{% block content %}
<form action="{{url_for('sign_up')}}" method="post">
    <div class="grid">
        <label for="login_id">ID
            <input type="text" id="login_id" name="login_id" placeholder="아이디" required>
        </label>
        <label for="name">NAME
            <input type="text" id="name" name="name" placeholder="이름" required>
        </label>
    </div>
    <div class="grid">
        <label for="password1">Password
            <input type="password" id="password1" name="password1" placeholder="비밀번호" required>
        </label>
        <label for="password2">PASSWORD COMFIRM
            <input type="password" id="password2" name="password2" placeholder="비밀번호" required>
        </label>
    </div>
    <label for="email">Email
        <input type="email" id="email" name="email" placeholder="Email address" required>
        <small>이메일은 공개되지 않습니다.</small>
    </label>
    <button type="submit">가입하기</button>
</form>
{% endblock %}